#include "resource.h"

IDR_TOOL_IPROXY                RCDATA "..\\x64\\Release\\iproxy.exe"
IDR_TOOL_IDEVICEINFO           RCDATA "..\\x64\\Release\\ideviceinfo.exe"
IDR_TOOL_BZ2_DLL               RCDATA "..\\x64\\Release\\bz2.dll"
IDR_TOOL_GETOPT_DLL            RCDATA "..\\x64\\Release\\getopt.dll"
IDR_TOOL_ICONV_DLL             RCDATA "..\\x64\\Release\\iconv-2.dll"
IDR_TOOL_IDEVICEACTIVATION_DLL RCDATA "..\\x64\\Release\\ideviceactivation.dll"
IDR_TOOL_IMOBILEDEVICE_DLL     RCDATA "..\\x64\\Release\\imobiledevice.dll"
IDR_TOOL_IMOBILEDEVICE_NET_DLL RCDATA "..\\x64\\Release\\imobiledevice-net-lighthouse.dll"
IDR_TOOL_IRECOVERY_DLL         RCDATA "..\\x64\\Release\\irecovery.dll"
IDR_TOOL_LIBCRYPTO_DLL         RCDATA "..\\x64\\Release\\libcrypto-1_1-x64.dll"
IDR_TOOL_LIBCURL_DLL           RCDATA "..\\x64\\Release\\libcurl.dll"
IDR_TOOL_LIBSSL_DLL            RCDATA "..\\x64\\Release\\libssl-1_1-x64.dll"
IDR_TOOL_LIBUSB0_DLL           RCDATA "..\\x64\\Release\\libusb0.dll"
IDR_TOOL_LIBUSB10_DLL          RCDATA "..\\x64\\Release\\libusb-1.0.dll"
IDR_TOOL_LIBXML2_DLL           RCDATA "..\\x64\\Release\\libxml2.dll"
IDR_TOOL_LZMA_DLL              RCDATA "..\\x64\\Release\\lzma.dll"
IDR_TOOL_PCRE_DLL              RCDATA "..\\x64\\Release\\pcre.dll"
IDR_TOOL_PCREPOSIX_DLL         RCDATA "..\\x64\\Release\\pcreposix.dll"
IDR_TOOL_PLIST_DLL             RCDATA "..\\x64\\Release\\plist.dll"
IDR_TOOL_PTHREAD_DLL           RCDATA "..\\x64\\Release\\pthreadVC3.dll"
IDR_TOOL_READLINE_DLL          RCDATA "..\\x64\\Release\\readline.dll"
IDR_TOOL_USBMUXD_DLL           RCDATA "..\\x64\\Release\\usbmuxd.dll"
IDR_TOOL_VCRUNTIME_DLL         RCDATA "..\\x64\\Release\\vcruntime140.dll"
IDR_TOOL_ZIP_DLL               RCDATA "..\\x64\\Release\\zip.dll"
IDR_TOOL_ZLIB_DLL              RCDATA "..\\x64\\Release\\zlib1.dll"
